.app-nav {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: lightgray;
}
.app-nav a {
  color: #2980b9;
  text-decoration: none;
  margin: 0 10px;
  text-transform: uppercase;
}
.app-nav a.active {
  color: #ffffff;
}
