@import "styles/variables/variables.scss";

.app {
  &-nav{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: lightgray;

    a{
      color: $belize;
      text-decoration: none;
      margin: 0 10px;
      text-transform: uppercase;

      &.active{
        color: $white;
      }

    }
  }
}