.filters-block-results {
  margin: 20px auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2980b9;
  height: 60px;
  border-radius: 30px;
  font-size: 14px;
  padding: 0 30px;
  cursor: pointer;
}
