@import 'styles/variables/variables.scss';

.filters-block{
    &-results{
        margin: 20px auto;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: $white;
        background-color: $belize;
        height: 60px;
        border-radius: 30px;
        font-size: 14px;
        padding: 0 30px;
        cursor: pointer;
    }
}